* {
    font-family: sans-serif;
}

.header {
    color: #808080;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
}

p {
    border: 1px solid #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.red {
    background-color: #ff0000;
    width: 190px;
}

.orange {
    background-color: #ff7418;
    width: 250px;
}

.yellow {
    background-color: #feff1c;
    width: 310px;
}

.green {
    background-color: #33d42f;
    width: 380px;
}

.blue {
    background-color: #5cd3ee;
    width: 450px;
}

.dark-blue{
    background-color: #1534ff;
    width: 520px;
}

.violet {
    background-color: #8000b5;
    width: 590px;
}