{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "indentation": 4,
        "order/properties-order":
        [
            "position",
            "top",
            "right",
            "bottom",
            "left",
            "float",
            "clear",
            "display",
            "visibility",
            "margin",
            "margin-top",
            "margin-right",
            "margin-bottom",
            "margin-left",
            "padding",
            "padding-top",
            "padding-right",
            "padding-bottom",
            "padding-left",
            "width",
            "max-width",
            "min-width",
            "max-height",
            "min-height",
            "height",
            "overflow",
            "overflow-y",
            "overflow-x",
            "color",
            "font",
            "font-family",
            "font-size",
            "font-style",
            "font-variant",
            "font-weight",
            "text-align",
            "text-decoration",
            "text-indent",
            "text-overflow",
            "text-shadow",
            "text-transform",
            "opacity",
            "box-shadow",
            "box-sizing",
            "table-layout",
            "border",
            "border-top",
            "border-right",
            "border-bottom",
            "border-left",
            "border-color",
            "border-width",
            "border-radius",
            "background",
            "background-color",
            "background-image",
            "background-origin",
            "background-position",
            "background-repeat",
            "background-size",
            "vertical-align",
            "z-index"

        ]
    }
}