* {
    font-family: 'Open Sans', sans-serif;
}

table {
    margin-top: 20px;
}


.header {
    font-size: 45px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.bar {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #0073ff;
    color: #ffffff;
}

.logo {
    width: 150px;
}

.container-bar {
    margin-bottom: 15px;
}

.image {
    margin-right: 15px;
    margin-bottom: 15px;
    width: 200px;
}

.container-list {
    padding-left: 20px;
    padding-top: 20px;
}

a {
    font-size: 20px;
    font-weight: bold;
}