.icon-contact {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 2px;
  i {
    font-size: 20px;
  }
}

.git {
  background-color: #24292E;
}

.lin {
  background-color: #0077B5;
}

.date {
  padding-top: 30px;
}