.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  .navbar-nav {
    margin-left: -$navbar-nav-link-padding-x;
    margin-right: -$navbar-nav-link-padding-x;
  }
  @include media-breakpoint-down('sm') {
    .navbar-nav {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

