.description {
  position: absolute;
  top: 16px;
  left: 15px;
  right: 15px;
  bottom: 16px;
  background-color: rgb(62, 62, 62);
  opacity: 0;
  transition: opacity 0.5s;
  &:hover {
    opacity: 1;
  }
  p {
    font-size: 20px;
  }
}