body {
    background: url("../image/koi.png");
    font-family: 'IBM Plex Serif', serif;
}

div {
    box-sizing: border-box;
}

.site {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.roof {
    vertical-align: top;
}

.roof-left {
    background-image: url("../image/roof-left.png");
    width: 360px;
    height: 157px;
    float: left;
    vertical-align: top;
}

.roof-center {
    background-image: url("../image/roof-center.png");
    width: 293px;
    height: 157px;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-align: center;
}

.header-one {
    letter-spacing: 25px;
    line-height: 30px;
    margin-left: 35px;
}

.header-two {
    font-size: 70px;
    color: #398a6d;
    text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
}

.roof-right {
    background-image: url("../image/roof-right.png");
    width: 360px;
    height: 157px;
    float: right;
    vertical-align: top;
    margin-top: -157px;
}

.header {
    font-size: 70px;
    margin-top: -120px;
    text-align: center;
    font-weight: bold;
}

.block-left {
    float: left;
    border: 1px solid #398a6d;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    min-width: 458px;
    width: 50%;
}

.block-left-header {
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #398a6d;
}

.box-news {
    float: left;
    max-width: 450px;
    margin-bottom: 20px;

}

.news img {
    float: left;
    margin-right: 20px;
}

.news-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.news-text {
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 10px 0;
    text-align: justify;

}

.new-page {
    font-size: 14px;
    float: right;
    color: #ff4933;
    text-decoration: none;
}

.block-right {
    float: left;
    border: 1px solid #398a6d;
    min-width: 458px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 50%
}

.block-right-header {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #398a6d;
}

.block-right-text {
    font-size: 20px;
    text-align: justify;
}

.block-right-text img {
    width: 100%;
    margin-bottom: -5px;
}

.clear {
    clear: both
}

.button-home a {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.button-home {
    width: 200px;
    margin: 50px auto;
}