.tabs {
    padding: 0;
    margin: 0;
    z-index: 1;
    display: inline-block;
}
.tabs li {
    position: relative;
    top: 2px;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 6px 12px;
    list-style: none;
    border: 2px dashed #ccc;
    border-radius: 10px 10px 0 0;
    border-bottom: none !important;
    cursor: pointer;

}
.tabs li.active {
    background-color: #fff;
    border-style: solid;
}
.text { display: none; }
.text.active {
    display: block;
    padding: 20px;
    min-height: 300px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    border: 2px solid #ccc;

}
form {
    display: inline-block;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    text-align: center;
}
textarea {
    padding: 10px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    resize: none;
    outline: none;
}
button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

li[data-tab="2"] {
    color: red;
}