.response {
    width: 800px;
    height: 500px;
    background-color: red;
}

@media print {
    .response {
        width: 300px;
        height: 300px;
        background-color: green;
        -webkit-print-color-adjust: exact;
    }
}

@media screen and (min-width: 700px) and (max-width: 950px) {
    .response {
        width: 300px;
        height: 300px;
        background-color: green;
    }

    .text {
        font-size: 40px;
    }
}

@media screen and (min-width: 951px) and (max-width: 1700px) {
    .response {
        background-color: black;
    }
}

/* @media screen and (max-width: 700px) {
    .response {
        width: 200px;
        height: 200px;
        background-color: hotpink;
    }
} */
