html,
body { margin: 0; }

h1 { text-align: center; }

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; */
    align-content: flex-start;
    margin: 40px;
    height: 580px;
    border: 1px solid red;
}

.box {
    flex-basis: 70px;
    margin: 20px;
    padding: 5px 30px;
    color: #fff;
    font-size: 20px;
    border: 2px solid #000;
    background-color: hotpink;
}

.box1 {
    order: 60;
}

.box2 {
    order: 20;
    flex-grow: 1;
    align-self: center;
}

.box3 {
    order: 30;
    flex-grow: 3;
    align-self: flex-start;
}

.box4 {
    order: 40;
    flex-grow: 4;
    align-self: flex-end;
}

.box5 {
    order: 50;
}

.box6 {
    order: 10;
}
