.box {
    /* position: relative;
       top: 100px;
       left: 100px; */

    width: 250px;
    height: 250px;
    border-radius: 0;
    background-color: red;
    transition: all 1s linear 0s;
}

.box:hover {
    transform: rotate(45deg) translate(100px, 100px); /* более производительней */

    /* position: relative;
       top: 100px;
       left: 100px; */

    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: blue;
    transition: all 1s linear 0s;
}

.box2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: hotpink;
    animation-name: move;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: calc(100% - 100px);
    }

    50% {
        top: calc(100% - 100px);
        left: calc(100% - 100px);
    }

    70% {
        top: calc(100% - 100px);
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}

.advert {
    position: fixed;
    width: 300px;
    height: 300px;
    line-height: 300px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border: 2px dashed black;
    background-color: #0073ff;
    animation-name: advert;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

.advert button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.advert-text {
    animation-name: advert-text;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes advert-text {
    0% {
        color: #ff0507;
    }

    25% {
        color: #14ff00;
    }

    50% {
        color: #ff00cf;
    }

    70% {
        color: #ff8b00;
    }

    100% {
        color: #fffc00;
    }
}

@keyframes advert {
    0% {
        background-color: #0073ff;
    }

    20% {
        background-color: #ff0021;
    }

    40% {
        background-color: #35ffdd;
    }

    60% {
        background-color: #3cff00;
    }

    80% {
        background-color: #2d72ff;
    }

    100% {
        background-color: #f400ff;
    }
}
