nav {
    outline: none;
}

div {
    display: inline-block;
    width: 300px;
    height: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #840eb2;
}

.button,
.button-active {
    display: none;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .button {
        display: block;
    }

    div {
        display: none;
    }

    nav:focus div {
        display: inline-block;
        margin-top: 1px;
        width: 100%;
    }

    nav:focus .button {
        display: none;
    }

    nav:focus .button-active {
        display: block;
    }
}
