a {
    text-decoration: none;
}

p {
    color: white;
    font-size: 24px;
    font-weight: bold; /*bold или normal*/
    font-family: sans-serif;
    font-style: italic;
    text-decoration: underline; /*line-through или overline*/
    line-height: 50px;
    text-align: center;
    background-color: #86ff8e;
    border: 3px solid #42801c;
}

.yandex {
    text-decoration: none;
    color: #ff0000 /*!important - самый высокий приоритет*/;
}

.google {
    text-decoration: none;
    color: #34b610;
}

